/* 
 *  Created on : 26-mai-2016, 23:33:10
 *   Author     : r.hendrick
*/
/*
.ui-ribbon .ui-button-icon-left.ui-icon.ui-c{
    margin: 0px!important;
    padding: 0px!important;
    float: left;
    width: 48px!important;
    height: 48px!important;
    margin-left: 8px!important;
    margin-top: -34px!important;
}
.ui-ribbon  span.ui-button-text.ui-c{
    margin: 0px!important;
    margin:auto!important;
    padding: 0px!important;
    width:  42px!important;
    max-height: 16px!important;
    margin-top: 48px!important;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left{
}

.ui-ribbonicon-home{
    background: url("#{resource['img/ribbon/home.png']}") no-repeat!important;
    background-size:contain!important;
}
.ui-ribbonicon-machines{
    background: url("#{resource['img/ribbon/machine.png']}") no-repeat!important;
    background-size:contain!important;
}


.ui-datatable.ui-widget{
    font-family: arial!important;
    font-size: 0.85em!important;
}
div.ui-datatable-header.ui-widget-header.ui-corner-top{
    padding: 0px!important;
    min-height: 24px!important;
}
div.ui-datatable-header.ui-widget-header.ui-corner-top button, input{
    padding: 0px!important;
    height: 16px!important;
    min-height: 22px!important;
}


#output .ui-editor.ui-widget-content{
    height: 100vh!important;
}
#output .ui-editor-toolbar{
    display: none;
}
#output_input{
    font-size: 0.85em!important;
}
#output iframe{
    height: 100%!important;
}
#output #document{

}
*/
/* =============================================================================
 * MANAGING LAYOUT
 * ===========================================================================*/
.ui-layout-container{ /* Viewport */

}

.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-north.ui-layout-pane.ui-layout-pane-north{
    padding: 0px!important;
    margin: 0px!important;
}
.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-north.ui-layout-pane.ui-layout-pane-north
.ui-layout-unit-header.ui-widget-header.ui-corner-all{ /* 1. Main Header Container div. ... */
    padding: 0px;
    margin: 0px;
}


.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-west.ui-layout-pane.ui-layout-pane-west{

}
.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-center.ui-layout-pane.ui-layout-pane-center{

}
.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-east.ui-layout-pane.ui-layout-pane-east{

}
.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-south.ui-layout-pane.ui-layout-pane-south{

}

.ui-layout-unit-header.ui-widget-header.ui-corner-all{ /* 1. Main Header Container div. ... */

}
.ui-layout-unit-header-title{ /* 1.1. Main Header Title  span. ...*/

}
.ui-layout-unit-header-icon.ui-state-default.ui-corner-all{ /* 1.2. icon link  a. ... */

}
.ui-icon.ui-icon-close{ /* 1.2.1. close icon link  span. ... */

}

.ui-icon.ui-icon-triangle-1-n{ /* 1.2.1. Collapse north icon link  span. ... */

}
.ui-icon.ui-icon-triangle-1-w{ /* 1.2.1. Collapse west icon link  span. ... */

}
.ui-icon.ui-icon-triangle-1-c{ /* 1.2.1. Collapse center icon link  span. ... */

}
.ui-icon.ui-icon-triangle-1-e{ /* 1.2.1. Collapse east icon link  span. ... */

}
.ui-icon.ui-icon-triangle-1-s{ /* 1.2.1. Collapse south icon link  span. ... */

}

.ui-layout-unit-content.ui-widget-content{ /* 2. Content  div. ... */

}






/*



#unitNorth .ui-layout-unit-header.ui-widget-header.ui-corner-all{
    padding: 0px;
    margin: 0px;
    height: 24px; 
}
#unitNorth .ui-layout-unit-header-title{
    float: left;
}
#unitNorth .ui-layout-unit-content.ui-widget-content{
    padding: 0px;
    margin: 0px;
    padding-top: 1px;
}
#unitNorth a.ui-layout-unit-header-icon.ui-state-default.ui-corner-all{
    display: none;
}


/* ==============================================*/
/*
.unitNorthHeader{
    max-height: 10px; 
}

#unitNorth-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitNorth-resizer:hover{
    background-color: grey;
}
#unitNorth-toggler{
    width: 20%!important;
    height: 100%!important;
    margin-left: 40%!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitNorth-toggler >  span .content.content-closed{
    display: none;
}
#unitNorth-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: 0px -16px;
}

/* ==============================================*/
/*
#unitWest-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitWest-resizer:hover{
    background-color: grey;
}
#unitWest-toggler{
    width: 100%!important;
    height: 20%!important;
    margin-top: 200px!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitWest-toggler >  span .content.content-closed{
    display: none;
}
#unitWest-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: -32px -16px;
}

/* ==============================================*/
/*
#unitEast-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitEast-resizer:hover{
    background-color: grey;
}
#unitEast-toggler{
    width: 100%!important;
    height: 20%!important;
    margin-top: 200px!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitEast-toggler >  span .content.content-closed{
    display: none;
}
#unitEast-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: -96px -16px;
     
}




/** NORTH   *************************************/
/*
.ui-layout-north {
    border: none;
    padding: 0px!important;
    margin: 0px!important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
/** WEST   *************************************/
/*
.ui-layout-west {
    /*
    padding: 0px!important;
    margin: 0px!important;
    max-width: 200px; 
    width: 200px;
}
.ui-layout-west .ui-layout-unit-content {
}
*/



html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.page-container {
  margin: 20px;
}


/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 300px;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  width: 18px;  
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  background: #eee;
}


/* vertical panel */

.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid silver;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  height: 150px;
  width: 100%;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
}

.panel-bottom {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  min-height: 200px;
  background: #eee;
}

label {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  margin: 30px 0 10px;
}

pre {
  margin: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid silver;
  border-radius: 4px;
  overflow: auto;
}
