<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
    
    <managed-bean>
        <managed-bean-name>console</managed-bean-name>
        <managed-bean-class>org.imoka.views.Console</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>


</beans>
